h1:hover{
   color: rgb(213, 189, 236);
   font-size: 60px;
   transform: filter(20deg);
}

h6:hover{
   color: rgb(213, 189, 236);
   font-size: 50px;
   transform: filter(20deg);
}

h3:hover{
   color: rgb(10, 10, 10);
   font-size: 50px;
   transform:skew(0.5)
}

h5:hover{
   color: rgb(10, 10, 10);
   font-size: 50px;
   transform:skew(0.5)
}

span[class="w3-display-middle"]{color:darkcyan}

.w3-padding-16:hover{
    border-radius: 50%;
    transform: filter(30deg)}

.My picture:hover{
    border-radius: 50%;
    transform: filter(30deg)}

.w3-padding-16:hover{
    border-radius: 50%;
    transform: filter(30deg)}